.screen-tag-container #screen-dialog-footer-button-list {
    padding: 0px;
    margin: 0px;
    float: left;
    position: relative;
    width: 500px;
    height: auto;
    left: 0px;
    top: 0px;
    cursor: text;
    min-height: 25px;
    border: 1px solid rgb(199, 199, 199) !important;
}

.screen-tag-container #list-wrapper {
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
    float: left;
    width: 100%;
    height: 30px;
    position: relative;
}

.screen-tag-container li {
    overflow: hidden;
    float: left;
    position: relative;
    padding: 1px 3px;
    margin: 2px;
    white-space: nowrap;
    border: 1px solid;
    font-weight: normal;
    text-align: left;
    font-size: 15px;
    border-color: #aaa;
    background: #efefef;
    width: Auto;
}

.screen-tag-container #infa-input-box {
    width: auto;
    border: none;
    display: inline-block;
    float: left;
    height: 25px;
    background: transparent !important;
    border-color: transparent !important;
}

.screen-tag-container .list-element {
    float: left;
    color: inherit;
    display: block;
    outline: 0 none;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    padding-top: 2px;
}


.screen-tag-container button {
    border:none;
    left: 100%;
    float: none;
    background: #efefef;
}

*:focus {
    outline: none;
}